
<div class="card card-primary">
  <div class="card-header">
    <strong>Estoque de produtos</strong>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome do Produto</th>
          <th>Quantidade disponível no estoque</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @inventories.each do |inventory| %>
          <tr>
            <td><%= inventory.id %></td>
            <td><%= inventory.product.name %></td>      
            <td><%= inventory.quantity %></td>    
            <td><%= link_to "Editar" , edit_inventory_path(inventory), class:"btn btn-warning btn-sm", data: { turbo: false }%></td>  
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
