

<div style="display: flex; justify-content: center;">
    <div class="card">
      <div class="card-header">
        <h1>test</h1>
      </div>
      <%= render 'form', account_plan: @account_plan %>
      <%= link_to 'Back', account_plans_path %>
      
</div>
  

