<div style="display: flex; justify-content: center;">
    <div class="card">
      <div class="card-header">
        <h1>Novo Centro de Custo</h1>
      </div>
      <%= render 'form'%>
      <%= link_to 'Back', account_plans_path %>
      
</div>
  

