<div class="card">
  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Unidade</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.unity %></td>
            <td><%= product.sale_price %></td>
            <td><%= product.purchase_price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>






